@model IEnumerable<SAKSIT.Models.order_detail>

@{
    ViewData["Title"] = "ShowOrder";
}

<h2>ShowOrder</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_List.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_List.customer.firstname) @Html.DisplayFor(modelItem => item.order_List.customer.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
        </tr>
}
    </tbody>
</table>
